body {
    margin: 0;
    padding: 0;
}

.zoom {
    width: max-content;
    position: relative;
}

.shadow {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    position: absolute;
    left: 0;
    top: 0;
}

#imgZoom {
    transform: scale(1.5);
    pointer-events: none;
    --zoom-x: 50%;
    --zoom-y: 50%;
    clip-path: circle(100px at var(--zoom-x) var(--zoom-y));
}
